<a href="https://colab.research.google.com/github/JSCARVALHO86/deliverable_slt3/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sidetable
import sidetable as stb

from google.colab import drive
drive.mount('/content/drive')
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, PowerTransformer, OneHotEncoder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1
Mounted at /content/drive

In [2]:
os.listdir('drive/MyDrive/DNC - Projeto GR3/Data')
def import_db():
  db = pd.read_csv('drive/MyDrive/DNC - Projeto GR3/Data/CRM_half1_22-10-19.csv', encoding='latin', sep = ',')
  db2 = pd.read_csv('drive/MyDrive/DNC - Projeto GR3/Data/CRM_half2_22-10-19.csv', encoding='latin', sep = ',')
  db = pd.concat((db, db2))
  db.reset_index(drop=True, inplace=True)
  return db

db = import_db()
db.iloc[:, 0:10].head(3)

,origem,loja_id,marca_id,bonus_ecommerce,dt_referencia,status_loja,ddi,pedido_resgate_id,resgatado_valor_bonus,resgatado_valor_venda
0,FIDELIDADE,12002.0,1573.0,0,2021-12-23,Ativo,55.0,NaN,NaN,NaN
1,FIDELIDADE,12004.0,1572.0,0,2021-12-06,Ativo,55.0,51155828.0,43.47,196.43
2,FIDELIDADE,12016.0,1197.0,0,2022-06-20,Ativo,55.0,77391144.0,34.49,195.45

In [3]:
db = db[db['origem']== 'FIDELIDADE']

In [4]:
db.count(axis=0)

origem                                 13578826
loja_id                                13578822
marca_id                               13543325
bonus_ecommerce                        13578826
dt_referencia                          13578472
status_loja                            13578807
ddi                                    13578807
pedido_resgate_id                       8265179
resgatado_valor_bonus                   8268150
resgatado_valor_venda                   8265179
resgatado_valor_primeira_compra         8268185
resgatado_valor_receita_incremental     8265179
resgatado_quantidade                    8268281
gerados_valor_bonus                     3972027
gerados_valor_venda                     3972037
gerados_quantidade                      3972039
gerados_perdidos_quantidade             3695037
perdidos_valor_bonus                    3567053
perdidos_quantidade                     3567076
vendas_valor_venda                      3086125
vendas_quantidade                       3086125
dtype: int64

In [5]:
#Formando base de dados com dados de uma unitários
#Nosso Sponsor falou que a coluna "pedido_resgate_id" representa a entrada de uma compra pessoal no programa da CRM. Com isso entendemos que os dados das outras colunas, não são sumarizados.
dbUnitario = (db['pedido_resgate_id']>0)
db[dbUnitario].count().sort_values(ascending=False)

origem                                 8265179
resgatado_quantidade                   8265179
bonus_ecommerce                        8265179
dt_referencia                          8265179
pedido_resgate_id                      8265179
resgatado_valor_receita_incremental    8265179
resgatado_valor_venda                  8265179
loja_id                                8265178
status_loja                            8265178
ddi                                    8265178
resgatado_valor_primeira_compra        8265083
resgatado_valor_bonus                  8265048
marca_id                               8251588
gerados_valor_bonus                          0
gerados_valor_venda                          0
gerados_quantidade                           0
gerados_perdidos_quantidade                  0
perdidos_valor_bonus                         0
perdidos_quantidade                          0
vendas_valor_venda                           0
vendas_quantidade                            0
dtype: int64

In [6]:
#Dropar (tirar) colunas que não trouxeram dados após o filtro da coluna 'pedido_resgate_id' >0
dbUnitario = db[db['pedido_resgate_id']>0]
dbUnitario.drop(columns = [
    'gerados_valor_bonus',
    'gerados_valor_venda',
    'gerados_quantidade',
    'gerados_perdidos_quantidade',
    'perdidos_valor_bonus',
    'perdidos_quantidade',
    'vendas_valor_venda',
    'vendas_quantidade'
], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
#Dropar (tirar) colunas de identificadores unitários
dbUnitario.drop(columns = [
    'marca_id',           #retirado pq podem existem casos em que o cliente foi resgatar bonus, porém a marca ainda não tinha seu cadastro.
    'ddi',                #segundo o sponsor sem relevancia para o modelo
    'pedido_resgate_id'   #identificador
], inplace=True)

In [8]:
#dbUnitario = db.pedido_resgate_id.filter(like=0)
occur = pd.DataFrame(dbUnitario.groupby(['dt_referencia']).size().sort_values( ascending = False))
occur.rename(columns = {0 : 'Qtd_Occur'}, inplace = True)
occur
file_name = 'occur.xlsx'
occur.to_excel(file_name)

In [9]:
dbUnitario.info(verbose = True,show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8265179 entries, 1 to 15397014
Data columns (total 10 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   origem                               8265179 non-null  object
 1   loja_id                              8265178 non-null  float64
 2   bonus_ecommerce                      8265179 non-null  int64
 3   dt_referencia                        8265179 non-null  object
 4   status_loja                          8265178 non-null  object
 5   resgatado_valor_bonus                8265048 non-null  float64
 6   resgatado_valor_venda                8265179 non-null  float64
 7   resgatado_valor_primeira_compra      8265083 non-null  float64
 8   resgatado_valor_receita_incremental  8265179 non-null  float64
 9   resgatado_quantidade                 8265179 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 693.6+ MB

In [20]:
dbLinhas_zero = dbUnitario[dbUnitario['resgatado_valor_bonus'].isnull()]
#dbLinhas_zero['resgatado_valor_bonus'].value_counts()
dbLinhas_zero.to_excel('resgatado_valor_bonus_zerado.xlsx')